<div id = "dane">
    <div class = "container-fluid bg">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12"></div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <form class = "form-container" style="background-color: white" >
                    <div class="form-group">
                        <h1 class="uvidURacun" style="text-align: center"><b>Osnovni podaci o studentu</b></h1>
                        <br>
                        <label for="naziv" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Broj indeksa: </label>
                        <input type="text" class="form-control" id="naziv" data-bind="value: brojIndeksa" readonly=""/>
                        <br>
                        <label for="jmbg" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Ime:</label>
                        <input type="text" class="form-control" id="jmbg" data-bind="value: ime" readonly=""/>
                        <br> 
                        <label for="mbroj" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Prezime:</label>
                        <input type="text" class="form-control" id="mbroj" data-bind="value: prezime" readonly=""/>
                        <br>
                        <label for="nbroj" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Godina upisa:</label>
                        <input type="text" class="form-control" id="nbroj" data-bind="value: godinaUpisa" readonly=""/>
                        <br>
                        <label for="pib" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Smer: </label>
                        <input type="text" class="form-control" id="pib" data-bind="value: smer" readonly=""/>
                        <br>
                        <label for="pnaziv" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Broj telefona: </label>
                        <input type="text" class="form-control" id="pnaziv" data-bind="value: brojTelefona" readonly=""/>
                        <br>
                        <label for="tip" style="color: #0572ce; letter-spacing: 1px;  font-size: 17px">Email: </label>
                        <input type="text" class="form-control" id="tip" data-bind="value: email" readonly=""/>
                        <br>

                    </div>

                </form>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12"></div>


        </div>
    </div>
</div>
