<div>
    <br>
    <h2 class="labelePlava">U tabeli je prikazan spisak zakazanih konsultacija kod Vas.</h2>
    <br>
    <table class="tabela" id="table" style="border: 6px solid #d0ecfd; 
           " data-bind="ojComponent: {component: 'ojTable', 
                 data: listaPotrosaca,
                 beforeCurrentRow: optionChange,
                   columnsDefault: {headerStyle: 'font-weight: bold;'},
                   
                    selectionMode: {row: 'single', column: 'multiple'},
                    rootAttributes: {'style':'width: 100%; height:100%;'},
                    columns: [
                        {headerText: 'Naslov', field: 'naslov'},
                        {headerText: 'Datum', field: 'datum'},
                        {headerText: 'Pocetak', field: 'vremePocetka'},
                        {headerText: 'Zavrsetak', field: 'vremeZavrsetka'},
                        {headerText: 'Mesto', field: 'mestoOdrzavanja'},
                        {headerText: 'Student', field: 'student'},
                        {headerText: 'Status', field: 'status'},
                        {headerText: 'Opis', field: 'opis'}
                    ]}">
    </table>
    <br/>

    <br/>

</div>
<oj-dialog style="width: 500px; display:none" id="modalDialog3" title="Izmenite status i opis">
    <div slot="body">
        <div>
            <oj-combobox-one id="combobox" value="{{status}}"
                             style="max-width:20em">
                <oj-option value="odobreno">Odobreno</oj-option>
                <oj-option value="otkazano">Otkazano</oj-option>
            </oj-combobox-one>
            <input type="text" class="form-control" id="opis" placeholder="Opis" data-bind="value: opis"/>
            <br/>
            <button id="myBtn" class ="btn btn-info btn-block " style="font-size: 17px; letter-spacing: 1px " data-bind="click: postaviOpisIStatus" ><i class="fa fa-check" aria-hidden="true"></i>Postavi status i opis</button>
            <button id="myBtn" class ="btn btn-danger btn-block " style="font-size: 17px; letter-spacing: 1px " data-bind="click: izbrisiKonsultacije" class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i>Izbrisi konsuiltacije</button>
            <button id="prilog" class ="btn btn-info btn-info " style="font-size: 17px; letter-spacing: 1px " data-bind="click: downloadPrilog" class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i>Preuzmi prilog</button>


        </div>
        <div slot="footer">
            <oj-button id="okButton" data-bind="click: function() {
                  document.querySelector('#modalDialog1').close();
                }">  Cancel
            </oj-button>
        </div>
    </div>
</oj-dialog>

